/*header start*/
.first-box{
    display: inline-flex;
}
.img1{
    margin-top: -302px;
    margin-bottom: -420px;
    position: absolute;
    z-index: 3;
}
.first-box-text1{
	background-color: #FFFFFF;
	font-size: 15px;
	margin-left: 705px;
	padding-top:10px;
	padding-bottom: 10px; 
}
.first-box-text2{
	font-size: 15px;
	padding-top:10px;
	padding-bottom: 10px; 
	margin-left: 55px;
}
.second-box{
	position: absolute;
	display: inline-flex;
	background-color: rgba(0,0,0, 0.9);
	opacity: 0.8;
	width: 1360px;
	height: 92px;
}
.second-box a{
	margin-left: 37px;
	color: #FFFFFF;
	font-size: 17px;
	text-decoration: none;
}

.second-box-text{
	margin-left: 600px;
	margin-top: 35px;
}
/*header over*/
/*head image start*/

.hero-text {
  text-align: center;
  font-size: 70px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.text3{
	margin-top: 30px;
	font-size: 25px;
}
.text4{
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  height: 45px;
  width: 162px;
  margin-top: 39px;
}
/*head image over*/
/*WE ARE TASTY start*/
.background1{
	width: 1360px;
	height: : 615px;
	background-color: #F0F0F0;
	display: inline-flex;
}
.img4{
	margin-top: 120px;
	margin-bottom: 120px;
	margin-left: 200px;
}
.img5{
  position: absolute;
  display: block;
}
.text5{
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 950px;
  left: 650px;
  color: black;
}
.text6{
  margin-top: 20px;
  font-size: 20px;
  width: 650px;
  position: absolute;
  top: 1000px;
  left: 650px;
  color: #616161;
}
.text7{
  background-color: #E7A331;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  height: 45px;
  width: 162px;
  margin-top: 465px;
  margin-left: 80px;
}
.text8{
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 900px;
  left: 650px;
  color: black;
}
/*WE ARE TASTY over*/

/*SPECIA RECIEPT start*/

.text-group{
	background-image: url(img/img5.jpg);
}
.background3{
	background-color: #F3F3F3;
	margin-left: 134px;
    position: absolute;
    width: 532px;
    height: 464px;
    margin-top: 134px;
}
.text9{
  font-size: 30px;
  margin-top: 40px;
  margin-left: 40px;
}
.text10{
	margin-left: 80px;
	margin-top: 40px;
	font-size: 40px;
	padding-right: 10px;
}
.text11{
	font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
	font-size: 15px;
	margin-top: 10px;
	padding-right: 30px;
}
.text12{ 
  margin-top: 10px;
  background-color: #E7A331;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  height: 45px;
  width: 162px;
  margin-top: 78px;
  margin-left: 40px;

}
.img7{
    margin-left: 505px;
   top: -380px;
    position: relative;
}
/*SPECIA RECIEPT over*/
/*EXPERIENCE start*/
.background4{
	background-color: #F2F2F2;
    height: 1000px;
    position: absolute;
    margin-top: 785px;
    width: 1360px;
}
.text13{
  text-align: center;	
  font-size: 30px;
  margin-top: 120px;
 
}
.text14{
	margin-top: 10px;
	font-size: 32px;
    text-align: center;
}
.img15{
	position: absolute;

}
.imgbox{
	margin-top: 67px;
	margin-left: 87px;
}
.imgbox2{
	margin-top: 70px;
}
.text15{
	font-size: 20px;
	color: #fff;
	margin-top: 50px;
	text-align: center;

}
.background15{
	background-color: rgba(0,0,0, 0.77);
	width: 210px;
	height: 230px;
	position: absolute;
	top: 298px;
    left: 746px;

}


/*EXPERIENCE over*/
/*DELICIOUS start*/

.img16{
  position: absolute;
    margin-top: 60px;
}
.backgroun3{
  background-color: #F3F3F3;
  margin-left: 560px;
    position: absolute;
    width: 532px;
    height: 464px;
    margin-top: 660px;
}

.backgrou3{
  background-color: #F3F3F3;
  margin-left: 134px;
    position: absolute;
    width: 532px;
    height: 464px;
    margin-top: 1200px;
}
.im7{
   margin-top: -400px;
    margin-left: -420px;
    
}
.tex9{
  font-size: 30px;
  margin-top: 40px;
  margin-left: 40px;
}
.tex10{
  margin-left: 40px;
  margin-top: 5px;
  font-size: 40px;
  padding-right: 10px;
}
.tex11{
  margin-left: 40px;
  font-size: 15px;
  margin-top: 40px;
  padding-right: 30px;
}
.tex12{ 
  margin-top: 10px;
  background-color: #E7A331;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  height: 45px;
  width: 162px;
  margin-top: 78px;
  margin-left: 40px;
}
.icon{
  margin-top: 10px;
}




/*DELICIOUS over*/
/*MOBILE APP start*/
.img17{
  margin-top: 1758px;
  position: absolute;
}
.img19{
    margin-left: 300px;
    top: 3000px;
    position: absolute;
}
.img18{
    top: 1931px;
    position: relative;
    margin-left: 342px;
}
.img20{
    top: 1931px;
    position: relative;
    margin-left: 88px;
}
.text15{
    margin-left: 80px;
    margin-top: 40px;
    position: relative;
    padding-right: 10px;
    font-size: 29px;
    margin-top: 1618px;
}
.text16{
    margin-left: 596px;
    position: relative;
    padding-right: 10px;
    font-size: 99px;
    color: white;
    
}
.text17{
    margin-left: 596px;
    position: relative;
    padding-right: 10px;
    font-size: 30px;
    color: white;
    
}
/*MOBILE APP over*/
/*CONTACT FORM START*/
.igg{
  position: absolute;
  margin-top: 4268px;
  margin-left: -20px;
}
.head-text{
  margin-left: 200px;
}
.box-of-three{
      position: relative;
    margin-top: 4300px;
    margin-left: -110px;
    color: #fff;
    display: inline-flex;
    font-size: 30px;
}
.description1{
  margin-left: 200px; 
  font-size: 20px;
  margin-top: 70px;
  text-align: center;
}
.description2{
  margin-left: 160px; 
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}
.box-three{
 display: block;
 width: 200px;
 
}
.inputs{
  margin-left: 150px;

}
.holder-text{
  border-radius: 10px;
  background-color: #333;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  border:0px;

}
.holder-text2{
  padding-top: 25px;
  padding-bottom: 25px;
  width: 300px;
}
/*CONTACT FORM OVER*/